*.jpg
*.png

# data files
*.csv
*.log
*.h5
*.data
*.names

# model files
*.hdf5
*.model
*.pth

# encoder settings
*.pkl
*.sav

*.xlsx

*.DS_Store
.DS_Store
*.npz
__pycache__/
*.joblib

./models_lr
*.txt

# mlflow files
mlruns/

*.cwd